EXPO_PUBLIC_RELAY_BACKEND_URL=http://localhost:3000/api
EXPO_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
EXPO_PUBLIC_STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
EXPO_PUBLIC_FACTORY_CONTRACT_ID=CCCAMWJOF7IYTVCU7SR6HFTNH5XRMDMWPYN464NY5BCKUPMUM64RZ5CH
EXPO_PUBLIC_POLICY_CONTRACT_ID=CCDM3O2SXX3E24MCWLRK5YBVQHJCA4OQKJFF6KWCK6FHZS65DGMT6DOY
EXPO_PUBLIC_WEBAUTHN_RP_ID=relay-staging.rayos.dev
EXPO_PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org
